<h1 [class.text-red]="bool">Angular App</h1>
<p>{{messageFromChildComponent}}</p>

<input type="text" (keyup.enter)="onKeyUp(username.value)" #username>

<button (click)="buttonClick()"> Click Me! </button>

<input type="text" [(ngModel)] = "userName" (keyup)="onEvent(userName)">

<input type="text" value = 'one way data binding'>
<input type="text" placeholder="Post image URL!" [(ngModel)] = "imageSource">
<img [src]='imageSource'>



<input type="text" placeholder="id" [(ngModel)] = "id">
<input type="text" placeholder="postTitle" [(ngModel)] = "postTitle">
<button (click) = "addNewPost()"> Add new Data </button>


<div *ngIf = "objArray.length > 0; then postList else noData"></div>

<ng-template #postList>
    <ul>
        <li *ngFor="let obj of objArray; let i=index">{{i}} {{ obj.postTitle }}
            <button (click)="onDelete(i)">Delete</button>
        </li>
    </ul>
</ng-template>

<ng-template #noData>
    <div>
        <p>There is no data to fetch...</p>
    </div>
</ng-template>

<div>
    <button (click)="onClick('step 1')">Step 1</button>
    <button (click)="onClick('step 2')">Step 2</button>
    <button (click)="onClick('step 3')">Step 3</button>
</div>
<br>
<div [ngSwitch]="stepForm">
    <div *ngSwitchCase="'step 1'">Step 1 form</div>
    <div *ngSwitchCase="'step 2'">Step 2 form</div>
    <div *ngSwitchCase="'step 3'">Step 3 form</div>
    <div *ngSwitchDefault> Something Else</div>
</div>

<h1 [style.color] = "isActive ? 'red' : 'black'"
[style.tectTransform] = "isActive ? 'uppercase' : 'lowercase'"> 
    Angular Course </h1>
<app-navbar></app-navbar>
<app-post [fromParent]='parentMessage' (messageEvent)='receiveMessage($event)'></app-post>


