<p>{{ title }}</p>

 <h3>
    {{ fromParent }}
 </h3>
<button (click)="addNewData()">Add New</button>
 <ul>
   <li *ngFor="let post of posts">
      {{post.postTitle}}
   </li>
 </ul>

 <app-post-list [fromPost]='messageFromPostParent'></app-post-list>
 <button (click)='sendMessage()'>Click!</button>

<div clas="container mt-5">
   <div class="form-area">
      <form #f = 'ngForm' (submit)="onSubmit(f)">
         
         <div class="form-group">
            <label>First Name</label>
            <input 
            type="text" 
            placeholder="Full Name" 
            class="form-control"
            name="fullName"
            ngModel 
            #fullName = 'ngModel'
            (change) = "getValue(fullName)"
            required
            [ngClass]="{ 'is-invalid': fullName.touched && fullName.invalid }"
            minlength="5"
            maxlength="10" 
            >
            <div *ngIf="fullName.errors?.['requierd']">
               <div class="alert alert-danger" *ngIf = 'fullName.touched && fullName.invalid'> FUllname is requierd...</div>
            </div>
            <div *ngIf="fullName.errors?.['minlength']">
               <div class="alert alert-danger" *ngIf = 'fullName.touched && fullName.invalid'> FUllname minimum length is 5...</div>
            </div>
            <div *ngIf="fullName.errors?.['maxlength']">
               <div class="alert alert-danger" *ngIf = 'fullName.touched && fullName.invalid'> FUllname maximum length is 10...</div>
            </div>
         </div>
         <div class="form-group">
            <label>Email</label>
            <input type="email" placeholder="Email" class="form-control" name="email" ngModel>
         </div>
         <div class="form-group">
            <label>Address</label>
            <textarea cols="30" rows="10" placeholder="Address" class="form-control" name="address" ngModel></textarea>
         </div>

         <button type="submit" class="btn btn-primary">Submit</button>

      </form>
   </div>
</div>